<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="../static/about.css">
    </head>
    <body>
   <!-- navbar -->
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">EngiWave</h2>
            </div>
            
            <div class="menu">
                <ul>
                    <li><H3><a href="{{ url_for('home') }}">Home</a></H3></li>
                    <li><H3><a href="{{ url_for('explore_branches') }}">ExploreBranches</a></H3></H2></li>
                    <li><H3><a href="{{ url_for('about') }}">AboutUs </a></H3></li>
                    <!-- <li><H3><a href="{{ url_for('feedback') }}">Feedback</a></H3></li>  -->
                    
                </ul>
            </div>
        </div>
            <!-- end of navbar -->
        <section>
            <div class="container">
                <h1 class="heading">Meet The Team</h1>
                <div class="card-wrapper">
                    <div class="card">
                        <img src="https://wallpaperaccess.com/full/3239444.jpg" alt="card background" class="card-img">
                        <img src="https://scontent.fnag10-1.fna.fbcdn.net/v/t39.30808-1/376775311_172902502498171_6886294889597563986_n.jpg?stp=dst-jpg_p320x320&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=QNj03GONvXsAX_b6Nj0&_nc_ht=scontent.fnag10-1.fna&oh=00_AfBxg9xR6z36YbmxjEylwXNjcG7RiGDRXr0NwUm8GXX0_A&oe=6612C9C7" alt="profile image" class="profile-img">
                        <h1>Shailesh Singade</h1>
                        <p class="job-title">Model developer</p>
                        <p class="about">
                            Shailesh is our data maestro, shaping the backbone of our platform with advanced algorithms. Currently pursuing his studies in CSE field, he has committed to creating a dynamic and accurate college recommendation engine.                        </p>
                        <a href="#" class="btn">Contact</a>
                        <ul class="social-media">
                            <li><a href="https://facebook.com/"><i class=" fab fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/"><i class=" fab fa-twitter-square"></i></a></li>
                            <li><a href="https://instagram.com/"><i class=" fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class=" fab fa-google-plus-square"></i></a></li>
                        </ul> 
                    </div>
                    
                    <div class="card">
                        <img src="https://wallpaperaccess.com/full/3239444.jpg" alt="card background" class="card-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGqI092pZadi0GhoXu_9ezSzYwLWpkVNImsGgKbrWYuw&s" alt="profile image" class="profile-img">
                        <h1>Dipawali Mandaokar</h1>
                        <p class="job-title">Web Develoer | Coder | Tech-Enthusiast</p>
                        <p class="about">
                            A dynamic BE CS student, thrives at the intersection of code and creativity. Proficient in C++, Java, Python, and web development, my journey is fueled by a passion for crafting elegant solutions that redefine possibilities. With a commitment to learning and innovation.</p>
                        <a href="#" class="btn">Contact</a>
                        <ul class="social-media">
                            <li><a href="https://facebook.com/"><i class=" fab fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/"><i class=" fab fa-twitter-square"></i></a></li>
                            <li><a href="https://instagram.com/"><i class=" fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class=" fab fa-google-plus-square"></i></a></li>
                        </ul>  
                    </div>
                    <div class="card">
                        <img src="https://wallpaperaccess.com/full/3239444.jpg" alt="card background" class="card-img">
                        <img src="https://drive.google.com/file/d/1ZelX8pNrSPT80wv5ah3bRjbjX8jVKID2/view?usp=drivesdk" alt="profile image" class="profile-img">
                        <h1>Shrihadika Mittha</h1>
                        <p class="job-title">Web Developer</p>
                        <p class="about">
                            Shrihadika is our design virtuoso, crafting the user interface with creativity and precision. Currently immersed in her studies in CSE field, she focused on creating an intuitive and visually engaging experience for our users.                        </p>
                        <a href="#" class="btn">Contact</a>
                        <ul class="social-media">
                            <li><a href="https://facebook.com/"><i class=" fab fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/"><i class=" fab fa-twitter-square"></i></a></li>
                            <li><a href="https://instagram.com/"><i class=" fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class=" fab fa-google-plus-square"></i></a></li>
                        </ul> 
                    </div>
                    <div class="card">
                        <img src="https://wallpaperaccess.com/full/3239444.jpg" alt="card background" class="card-img">
                        <img src="https://drive.google.com/file/d/1ZcdHJ0Bz_eIuqNoiVyUoIz9cju-yOQPx/view?usp=drivesdk" alt="profile image" class="profile-img">
                        <h1>Avanti Rajurkar</h1>
                        <p class="job-title">Web Developer</p>
                        <p class="about">
                            Avanti is our design virtuoso, crafting the user interface with creativity and precision. Currently immersed in her studies in CSE field, she focused on creating an intuitive and visually engaging experience for our users.</p>
                        <a href="#" class="btn">Contact</a>
                        <ul class="social-media">
                            <li><a href="https://facebook.com/"><i class=" fab fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/"><i class=" fab fa-twitter-square"></i></a></li>
                            <li><a href="https://instagram.com/"><i class=" fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class=" fab fa-google-plus-square"></i></a></li>
                        </ul> 
                    </div>
                </div>
            </div>
    
        </section>
    </body>
</html>